.venv/
__pycache__/
*.pyc
.env
.databrickscfg
build/
.DS_Store
.venv312/
building-reliable-conversational-agents-with-genie-en_us-*/
building-reliable-conversational-agents-with-genie-en_us-*.zip
mlflow.db
mlruns/
